[submodule "anvil/third_party/SDL"]
	path = anvil/third_party/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "anvil/third_party/SDL_image"]
	path = anvil/third_party/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "anvil/third_party/SDL_ttf"]
	path = anvil/third_party/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "anvil/third_party/SDL_mixer"]
	path = anvil/third_party/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "anvil/third_party/inipp"]
	path = anvil/third_party/inipp
	url = https://github.com/mcmtroffaes/inipp.git
[submodule "anvil/third_party/json"]
	path = anvil/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "anvil/third_party/googletest"]
	path = anvil/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "anvil/third_party/fmt"]
	path = anvil/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "anvil/third_party/imgui"]
	path = anvil/third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "anvil/third_party/glm"]
	path = anvil/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "anvil/third_party/sol2"]
	path = anvil/third_party/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "anvil/third_party/lua"]
	path = anvil/third_party/lua
	url = https://github.com/lua/lua.git
